@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-foreground: var(--foreground);
  --color-foreground-light: var(--foreground-light);
  --color-ring: var(--ring);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-muted: var(--muted);
  --color-secondary: var(--secondary);
  --color-secondary2: var(--secondary2);
  --color-secondary3: var(--secondary3);
  --color-primary: var(--primary);
  --color-primary2: var(--primary2);
  --spacing-section-padding: var(--section-padding);
  --spacing-nav-height: var(--nav-height);
}

:root {
  --background: #E0FFE0;
  --background-light: #F8FFF8;
  --background-dark: #C7FFC7;
  --foreground: #474838;
  --foreground-light: #E0FFE0;
  --primary: #6BF178;
  --primary2: #00901D;
  --secondary: #FFDB83;
  --secondary2: #D2A44F;
  --secondary3: #98701C;
  --muted: #A1AFA0;
  --destructive: oklch(0.577 0.245 27.325);
  --border: #61FF61;
  --ring: #6BF178;
  --section-padding: 5rem;
  --nav-height: 4.5rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background-light text-foreground;
  }
}

@layer components {
    .heading1 {
        @apply text-4xl md:text-5xl xl:text-6xl font-bold
    }

    .heading2 {
        @apply text-3xl md:text-4xl xl:text-5xl font-bold
    }

    .heading3 {
        @apply text-2xl md:text-3xl xl:text-4xl font-semibold
    }

    .bigger-text {
        @apply text-lg md:text-xl lg:text-2xl font-medium
    }

    .heading-margin-bottom {
        @apply mb-10 md:mb-24
    }
}